.terms-and-privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 100px 500px;

    h3{
        color: var(--black);
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 1px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        border-radius: 16px;
        padding: 20px 30px;


        p{
            font-size: 16px;
            color: var(--dark-grey);
            line-height: 30px;
            letter-spacing: 0.5px;
            a{
                color:var(--dark-green)
            }
        }
    }
}


@media(max-width:1700px){
    .terms-and-privacy{
    gap: 20px;
    padding: 70px 350px;

    h3{
      
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.8px;
    }

    .content{
        gap: 10px;
        padding: 18px 25px;


        p{
            font-size: 15px;   
            line-height: 25px;
            letter-spacing: 0.4px;
           
        }
    }
}
}



@media(max-width:1400px){
    .terms-and-privacy{
    gap: 15px;
    padding: 50px 250px;

    h3{
      
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.6px;
    }

    .content{
        gap: 8px;
        padding: 15px 22px;


        p{
            font-size: 14px;   
            line-height: 22px;
            letter-spacing: 0.4px;
           
        }
    }
}
}


@media(max-width:1100px){
    .terms-and-privacy{
    gap: 12px;
    padding: 40px 100px;

    h3{
      
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    .content{
        gap: 7px;
        padding: 12px 20px;


        p{
            font-size: 14px;   
            line-height: 21px;
            letter-spacing: 0.4px;
           
        }
    }
}
}


@media(max-width:700px){
    .terms-and-privacy{
    gap: 10px;
    padding: 40px 50px;

    h3{
      
        font-size: 14px;
        line-height: 18px;
    }

    .content{
        gap: 7px;
        padding: 10px 18px;


        p{
            font-size: 13px;   
            line-height: 18px;
           
        }
    }
}
}


@media(max-width:400px){
    .terms-and-privacy{
    gap: 15px;
    padding: 40px 30px;

    h3{
      
        font-size: 12px;
        line-height: 20px;
    }

    .content{
        gap: 7px;
        padding: 8px 16px;


        p{
            font-size: 12px;   
            line-height: 20px;
           
        }
    }
}
}