footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px 100px;
  box-shadow: 0px -5px 31px -11px rgba(0, 0, 0, 0.1);

  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        img {
          height: 100px;
        }

        h3 {
          font-size: 20px;
        }
      }
    }

    .important-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      a {
        font-size: 17px;
        font-weight: 500;
        color: var(--black);
      }
    }

    .help {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      a {
        font-size: 17px;
        font-weight: 500;
        color: var(--black);
      }
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img {
        height: 50px;
      }
    }
  }
  .lower {
    p {
         font-size: 17px;
          color: var(--black);
      a {
        font-size: 17px;
        font-weight: 700;
        color: var(--black);
      }
    }
  }
}

@media (max-width: 1700px) {
  footer {
    gap: 40px;
    padding: 40px 100px;

    .upper {
      .logo {
        a {
          gap: 8px;
          img {
            height: 90px;
          }

          h3 {
            font-size: 18px;
          }
        }
      }

      .important-links {
        a {
          font-size: 16px;
        }
      }

      .help {
        gap: 15px;
        a {
          font-size: 16px;
        }
      }

      .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  footer {
    gap: 30px;
    padding: 30px 100px;

    .upper {
      .logo {
        a {
          img {
            height: 80px;
          }

          h3 {
            font-size: 16px;
          }
        }
      }

      .important-links {
        gap: 8px;
        a {
          font-size: 14px;
        }
      }

      .help {
        gap: 13px;
        a {
          font-size: 14px;
        }
      }

      .social-media {
        gap: 8px;
        img {
          height: 40px;
        }
      }
    }
  }
}

@media(max-width:1000px){
  footer{
    padding: 30px 50px;
  }
}


@media(max-width:800px){
   footer {
 
  gap: 40px;
  padding: 30px 30px;

  .upper {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    .logo {
      a {
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        img {
          height: 100px;
        }

        h3 {
          font-size: 19px;
        }
      }
    }

    .important-links {
     
      gap: 15px;
      a {
        font-size: 16px;
       
      }
    }

    .help {
      gap: 15px;
      a {
        font-size: 16px; 
      }
    }

    .social-media {
     
      gap: 15px;
      img {
        height: 40px;
      }
    }
  }
  .lower {
    p {
                font-size: 16px;

      a {
        font-size: 16px;
      
      }
    }
  }
} 
}


@media(max-width:370px){
   footer {
  gap: 35px;
  padding: 25px 30px;

  .upper {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    .logo {
      a {
        
      
       
        img {
          height: 60px;
        }

        h3 {
          font-size: 18px;
        }
      }
    }

    .important-links {
     
      gap: 13px;
      a {
        font-size: 15px;
       
      }
    }

    .help {
      gap: 15px;
      a {
        font-size: 15px; 
      }
    }

    .social-media {
     
      gap: 12px;
      img {
        height: 35px;
      }
    }
  }
  .lower {
    p {
         font-size: 15px;
      a {
        font-size: 15px;
      
      }
    }
  }
} 
}
