.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;

  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    h4 {
      font-size: 28px;
      font-weight: 600;
      color: var(--dark-green);
      letter-spacing: 2px;
    }

    h1 {
      font-size: 72px;
      font-weight: 800;
      line-height: 90px;
      letter-spacing: 1.2px;
      span {
        color: var(--dark-green);
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.7px;
      span {
        display: block;
      }
    }
  }

  img {
    width: 500px;
  }
}

@media (max-width: 1700px) {
  .hero {
    .text {
      gap: 30px;
      h4 {
        font-size: 22px;
        letter-spacing: 1.2px;
      }

      h1 {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 1px;
      }

      p {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.6px;
      }
    }

    img {
      width: 400px;
    }
  }
}

@media (max-width: 1400px) {
  .hero {
    .text {
      gap: 20px;
      h4 {
        font-size: 20px;
        letter-spacing: 1px;
      }

      h1 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.5px;
      }

      p {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
      }
    }

    img {
      width: 350px;
    }
  }
}

@media (max-width: 1050px) {
  .hero {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 80px;
    .text {
      align-items: center;
      gap: 30px;
      h4 {
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
      }

      h1 {
        text-align: center;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: 1px;
      }

      p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.6px;
        text-align: center;
      }
    }

    img {
      width: 300px;
    }
  }
}

@media (max-width: 700px) {
  .hero {
    gap: 50px;
    .text {
      gap: 25px;
      h4 {
        font-size: 18px;
        letter-spacing: 0.8px;
      }

      h1 {
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.8px;
      }

      p {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 0.5px;

        span {
          display: inline;
        }
      }
    }

    img {
      width: 300px;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    gap: 30px;
    .text {
      gap: 10px;
      h4 {
        font-size: 16px;
        letter-spacing: 0.8px;
      }

      h1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.7px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.4px;

        span {
          display: inline;
        }
      }
    }

    img {
      width: 180px;
    }
  }
}
