@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --light-green: #9ef13a;
  --dark-green: #6db120;
  --yellow: #d0b965;
  --dark-grey: #505050;
  --light-grey: #fafafa;
  --black: #1f1f1f;
  --orange: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--light-grey);
}

button {
  border: none;
  outline: none;
}
input {
  outline: none;
  border-radius: 10px;
  border: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

li {
  list-style: none;
}
